/*#navegacion{
	text-align:center;
	list-style:none;
}*/
#Benavente{
	color:darkred;
}
#espectaculo{
	color:lightblue;
}
.noticia1{
	text-align:center;
}
.Benavente{
	background-color:lightgreen;
}
#noticia2{
	text-align:center;
}
#imagen1{
	text-align:center;
}
#texto1{
	padding-left:4em;
}