@font-face{
    font-family: 'Akronim';
    src: url('../fonts/Akronim-Regular.ttf');
}
@font-face{
    font-family: 'Yorkshire';
    src: url('../fonts/yorkshire script.ttf');
}
@font-face{
    font-family: 'Odessa';
    src: url('../fonts/odess9.ttf');
}
@font-face{
    font-family: 'Fox';
    src: url('../fonts/foxscrip.ttf')
}