.respuestaI{
    display: block;
    margin-top: 1px;
    border: dotted 1px black;
}
.respuestaC{
    display: block;
    margin-top: 1px;
    border: dotted 1px black;
}
.respuestaI:hover{
    display: block;
    border: dotted 1px black;
    
    background-color: gray;
}
form{
    background-color: gray;
    padding: 5px;
}
fieldset{
    background-color: white;
}
.enunciado{
    font-weight: bolder;
}